[2018-01-05 21:52] RenatoLAG opened #1 "Épico 1"
Eu, como professor, gostaria que todos os projetos tivessem tecnologias de automação com o uso de CLP

[2018-01-05 22:00] RenatoLAG opened #2 "Épico 2"
Eu, como professor, gostaria que todos os projetos tivessem significância para gerar boas publicações

[2018-01-06 14:12] RenatoLAG opened #3 "Épico 3"
Eu, como professor, gostaria que todos os projetos fossem realizados em no máximo 30 dias

[2018-01-07 17:29] RenatoLAG commented on #3
[Fichamentos finalizados.docx](https://github.com/RenatoLAG/Braco-robotico/files/1609992/Fichamentos.finalizados.docx)
[Eventos.docx](https://github.com/RenatoLAG/Braco-robotico/files/1609993/Eventos.docx)

[2018-01-09 13:46] hyperiondeimos commented on #2
não vi nada até agora.

[2018-01-09 13:46] hyperiondeimos commented on #1
até o momento ainda não vi nada.

[2018-01-12 19:18] RenatoLAG opened #4 "Épico 4"
Eu, como professor, gostaria que os projetos tenham a capacidade de documentar tudo que foi realizado detalhadamente para poder validar o conhecimento da equipe, gerando um relatório final

[2018-01-13 16:30] RenatoLAG opened #5 "Épico 5"
Eu, como professor, gostaria que a equipe escolha um projeto que tenha significância para um processo produtivo industrial não necessariamente inédito, mas que contenha um certo grau de inovação, como o uso de visão computacional.

[2018-01-13 16:32] RenatoLAG opened #6 "Épico 6"
Eu, como professor, gostaria que os modelos possam apresentar um modelo/maquete do que foi proposto fisicamente afim de apresentar a mim o trabalho de forma realista e tangível

[2018-01-13 16:34] RenatoLAG opened #7 "Épico 7"
Eu, como professor, gostaria que a equipe cumpra com o Scrum para conhecer uma ferramenta de controle e gerenciamento de projetos

[2018-01-13 16:35] RenatoLAG opened #8 "Épico 8"
Eu, como professor, gostaria que os projetos contenham um sistema pneumático industrial para realizar os procedimentos de movimentação e acionamento de componentes.

[2018-01-13 16:37] RenatoLAG opened #9 "Épico 9"
Eu, como professor, gostaria que as equipes possam gerar o método proposto para desenvolver as sprints corretamente

[2018-01-13 16:39] RenatoLAG opened #10 "Épico 10"
Eu, como professor, gostaria que os projetos tivessem um sistema de controle pelo usuário com o uso de IHM ou sistema supervisório para validar os conhecimentos de controle na disciplina

[2018-01-13 16:46] RenatoLAG opened #11 "Orçamento e custo parciais"
Pesquisar os materiais necessários para a montagem do protótipo e seus respectivos valores

[2018-01-13 16:57] RenatoLAG opened #12 "Artigos correlatos"
Pesquisar artigos que sirvam como base dando ideias para a elaboração do projeto e escrita do artigo final

[2018-01-13 17:01] RenatoLAG opened #13 "Revisão sistemática"
Após os artigos serem encontrados, realizar a revisão sistemática afim de verificar melhorias que possam ser feitas no nosso projeto e identificar quais métodos de pesquisa foram utilizados para auxiliar na escrita do relatório final.

[2018-01-13 22:21] Suzielen commented on #12
Artigos usados para ajudar na elaboração do artigo e desenvolvimento do projeto:
[2_7Engevista04.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1628788/2_7Engevista04.pdf)
[214130.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1628789/214130.pdf)
[ApresentacaoRaspberryPi.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1628790/ApresentacaoRaspberryPi.pdf)
[Comportamentos_reat

[2018-01-13 22:36] RenatoLAG commented on #1
nesse projeto não será necessário o uso do CLP.

[2018-01-13 23:00] Suzielen commented on #11
Irei inserir o orçamento parcial, pois ainda precisamos definir alguns pontos do projeto.
[Orçamento Parcial.xlsx](https://github.com/RenatoLAG/Braco-robotico/files/1628825/Orcamento.Parcial.xlsx)

[2018-01-14 01:37] RenatoLAG opened #14 "Locais para a publicação do artigo"
Pesquisar locais (eventos, seminários, congressos, revistas) para a publicação do artigo

[2018-01-14 01:43] RenatoLAG opened #15 "Material para montagem do braço robótico"
Disponibilizar aqui o manual para a montagem do braço robótico e em seguida realizar a montagem

[2018-01-14 01:47] RenatoLAG opened #16 "Vídeos de simulação"
Postar os vídeos que serviram de base para a escolha de certas características do projeto

[2018-01-14 01:52] TaynaM commented on #13
Aqui está a revisão sistemáticas dos artigos encontrados pela Suzielen e por mim.
[Eventos.docx](https://github.com/RenatoLAG/Braco-robotico/files/1628948/Eventos.docx)

[2018-01-14 01:57] TaynaM commented on #13
Abaixo encontra-se a revisão sistemática dos artigos encontrados pela Suzielen e por mim.

[Fichamentos.finalizados.docx](https://github.com/RenatoLAG/Braco-robotico/files/1632942/Fichamentos.finalizados.docx)

[2018-01-14 02:00] TaynaM commented on #14
Os locais encontrados para a publicação do artigo encontram-se no documento abaixo
[Eventos.docx](https://github.com/RenatoLAG/Braco-robotico/files/1628954/Eventos.docx)

[2018-01-14 02:17] TaynaM commented on #15
Aqui está o manual
[bracoslim.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1628975/bracoslim.pdf)

[2018-01-14 02:23] TaynaM commented on #16
Aqui estão alguns dos vídeos pesquisados para ajudar na execução do projeto
[https://www.youtube.com/watch?v=heGqTK1aqK4](url)
[https://www.youtube.com/watch?v=XkqY4zTwsm4](url)
[https://www.youtube.com/watch?v=7UsmJgHU6wk](url)

[2018-01-14 02:32] TaynaM opened #17 "Visão computacional e Raspberry pi"
Pesquisar os programas para a implementação da visão no projeto e verificar e aprender o tipo de linguagem utilizada na plataforma Raspberry pi

[2018-01-14 19:23] RenatoLAG commented on #11
muito bem

[2018-01-15 18:05] Suzielen commented on #15
Necessito dos 4 servos motores para montagem completa da estrutura do braço robótico.

[2018-01-15 18:55] Suzielen commented on #16
Alguns links para ajudar no projeto...
Compilação e instalação da Raspberry Pi:
https://www.youtube.com/watch?v=RE-p7GedP2Y
Visão Computacional com Python e OpenCV:
https://www.youtube.com/watch?v=lmJxGmOAtq8
Introdução à Biblioteca de Visão Computacional:
https://www.youtube.com/watch?v=-Hb7ZFSYqnk

[2018-01-15 19:51] TaynaM opened #18 "Aviso geral"
Gente, é o seguinte, todas as atividades propostas aqui são essenciais para o desenvolvimento do projeto e devem ser realizadas. Então fiquem sempre atentos e tentem comentar para trocarmos ideias.

[2018-01-15 20:09] TaynaM opened #19 "Desenhos mecânicos"
Fazer os desenhos mecânicos da esteira e de seus componentes para servirem de material de apoio afim de facilitar a visualização do projeto e para a escrita do artigo.

[2018-01-15 20:12] TaynaM opened #20 "Confecção da esteira"
Disponibilizar aqui o modelo, o material e as dimensões da esteira.

[2018-01-15 20:20] TaynaM opened #21 "Materiais disponibilizados pelo professor"
A lista dos materiais a nós emprestados inclui a Raspberry pi 3, o atuador e a válvula solenóide.

[2018-01-15 20:29] TaynaM opened #22 "Programação do Arduino e da Raspberry"
Inserir aqui as programações do Arduino que irá controlar o braço e a parte de visão computacional que fará o reconhecimento dos objetos. Além disso, disponibilizar o material de apoio que está sendo utilizado.

[2018-01-23 14:11] hyperiondeimos commented on #12
Faltou adicionar a revisão sistemática. Somente colocar os artigos não é a revisão. Aonde estão os comentários e o entendimento de cada artigo?

[2018-01-23 14:13] hyperiondeimos commented on #14
alguns dos eventos NÃO são indicados para o projeto de vocês, pois aborda muito pouco sobre visão e também sobre robotica. Mas darei como concluido.

[2018-01-23 14:13] #14 closed, assigned to Suzielen, TaynaM

[2018-01-23 14:16] hyperiondeimos commented on #11
Valores errados e incompletos. Um atuador pneumatico de dupla ação por menos de R$ 50,00? Duvido que exista, ainda mais o FESTO que eu emprestei. Por favor, façam o trabalho direito pois isso impactará na atividade de fechamento da Sprint #3. Ajustem isso

[2018-01-23 14:25] hyperiondeimos commented on #22
Os dados de códigos não são inseridos aqui, ok. Deverão ser inseridos na aba CODE. Podem deixar aqui essa issue, mas deve passar apenas os commits.

[2018-01-23 14:26] hyperiondeimos commented on #21
Não precisa dessa issue, visto que eu passo tudo pelo dropbox. Closed

[2018-01-23 14:26] #21 closed, assigned to hyperiondeimos, Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-01-23 14:26] hyperiondeimos commented on #20
Fotos e montagem, aonde estão? Além disso, vocês devem criar um WIKI com todos os passos da montagem.

[2018-01-23 14:27] hyperiondeimos commented on #19
Incluindo na Sprint 3

[2018-01-23 14:29] hyperiondeimos commented on #18
@TaynaM Nenhuma pessoa da sua equipe está participando do Scrum. Você como ScrumMaster deve fazer o Scrum funcionar. Hoje gostaria de ter uma reunião com vocês, a tarde.

[2018-01-23 14:32] hyperiondeimos commented on #17
Isso pode ser resumido no issue #22 pois lá vocês colocam todas as dicas de códigos. Apesar de que o código eu vou colocar no dropbox.

[2018-01-23 14:32] #17 closed, assigned to RenatoLAG

[2018-01-23 14:51] hyperiondeimos commented on #16
inserir na sprint #2

[2018-01-23 14:54] hyperiondeimos commented on #13
Tem algumas falhas, mas tudo bem. Darei como fechado.

[2018-01-23 14:54] #13 closed, assigned to Suzielen, TaynaM

[2018-01-23 14:54] hyperiondeimos commented on #13
Só enviem da próxima vez em PDF.

[2018-01-23 14:55] hyperiondeimos commented on #15
Falta algo ainda?

[2018-01-23 14:56] hyperiondeimos commented on #15
Falta algo ainda?

[2018-01-23 14:57] hyperiondeimos commented on #18
Ainda falta e muito quebrar os épicos em mais tarefas....

[2018-01-23 14:59] hyperiondeimos commented on #16
Irei fechar isso depois da reunião, ou mudem os dados dos releases.

[2018-01-23 15:24] vrlimaa commented on #20
Tayna, como havíamos combinado na última reunião presencial, ontem na segunda 23, consegui fazer a compra no mercado dos últimos produtos que faltavam para a montagem da esteira.

[2018-01-23 15:26] vrlimaa commented on #20
![whatsapp image 2018-01-23 at 11 25 27](https://user-images.githubusercontent.com/35084102/35284038-304cf8ca-0030-11e8-937a-c22a89b6d84c.jpeg)

[2018-01-23 15:26] vrlimaa commented on #20
Materiais utilizados

Cano PVC de 25 mm
Varios pedaços de madeira
Lona de borracha
Cola quente
Palito de picolé
Cola mil
Parafusos de diversos tamanhos
Rosca pra parafuso
Motor dc 12v (utilizado usualmente em impressora)
Engrenagem de plástico
Cerra copo
Cerrote
Furadeira
Parafusadeira
Solda
Cabo de cobre
Interruptor

[2018-01-23 15:27] vrlimaa commented on #20
A montagem da mesma se iniciará hoje!

[2018-01-23 15:28] RenatoLAG commented on #18
Estaremos lá, professor

[2018-01-23 15:28] vrlimaa commented on #20
![whatsapp image 2018-01-23 at 11 27 36](https://user-images.githubusercontent.com/35084102/35284192-8c913510-0030-11e8-85db-bfecf1fa73f0.jpeg)

[2018-01-23 15:30] vrlimaa commented on #20
A ideia da esteira é essa transportadora que havíamos decidido em comum acordo, e ao final será repassada a planilha com o dimensionado das demais peças, para um entendimento e visualização mais simplista, como acordado.

[2018-01-23 15:31] RenatoLAG commented on #12
@hyperiondeimos professor, colocamos em outro issue chamado Revisão Sistemática

[2018-01-23 15:32] vrlimaa commented on #20
E conforme for o processo de montagem, irei postando a foto das montagens das etapas já concluídas.

[2018-01-23 15:36] vrlimaa commented on #20
Peço desculpas ao professor, pois não me atentei a adesão da minha assinatura ao grupo, e fiquei por hora ficando um pouco de "escanteio" da sprint e não realizando o processo de desenvolvimento desejado da disciplina.

[2018-01-23 15:39] vrlimaa commented on #20
Porém o processo não encontra-se estagnado como pode-se observar, encontra-se em fase de execução da montagem nesse momento, conforme for irá sendo postado o desenvolvimento do mesmo, como já relatado.

[2018-01-23 15:41] vrlimaa commented on #20
Lembrando que vale ressaltar que optamos por uma esteira plana e NÃO inclinada, como se encontrada no modelo de referência, de modo geral a esteira estará nos mesmos moldes dessa que ser como base de referência, porém ela será na disposição plana e não inclinada como está na foto.

[2018-01-24 17:29] TaynaM commented on #20
Tudo bem, Vinícius.  Peço que tu faça o orçamento e disponibilize na issue de Orçamento e custo para termos uma noção do custo total do projeto e dividirmos igualmente os valores após o término do projeto.

[2018-01-24 17:31] Suzielen commented on #15
Recebimento dos servomotores OK. Braço robótico encaminhado para  Luis realizar testes com a programação.

[2018-01-24 18:08] TaynaM opened #23 "Comunicado urgente"
Gente, vamos começar a escrita do artigo amanhã à tarde. Para isso precisamos de todos os materiais disponibilizados nas suas respectivas issues. Coloquem links, manuais, tudo o que vcs estão usando para o cumprimento das tarefas até amanhã pela manhã.

[2018-01-24 18:29] TaynaM opened #24 "Reuniões para o artigo"
Meninas, temos que começar a escrita do artigo já que o mesmo é para semana que vem. Então, vamos nos reunir todos dias até a data da entrega do projeto. A primeira reunião será amanhã às 13:00.

[2018-01-24 18:37] RenatoLAG commented on #22
**Raspbian Stretch: Install OpenCV 3 + Python on your Raspberry Pi**

https://www.pyimagesearch.com/2017/09/04/raspbian-stretch-install-opencv-3-python-on-your-raspberry-pi/

https://www.youtube.com/watch?v=j6RD3X94rEA&feature=youtu.be

[2018-01-24 18:38] RenatoLAG commented on #22
Raspbian Stretch: Install OpenCV 3 + Python on your Raspberry Pi

https://www.youtube.com/watch?v=j6RD3X94rEA&feature=youtu.be

[2018-01-24 18:40] RenatoLAG commented on #22
**RASPBERRY PI - INSTALANDO O RASPBIAN | Vídeo Aula #51**

https://www.youtube.com/user/canalwrkits/search?query=RASPBERRY

[2018-01-24 18:41] RenatoLAG commented on #22
**Braço Robótico com Arduino**

https://www.youtube.com/watch?v=vVOyWQZ25M8&t=1270s

 **SKETCH - 4 SERVOS:**

https://www.youtube.com/redirect?q=https%3A%2F%2Fdrive.google.com%2Ffile%2Fd%2F0B91L9po09u35TmU4bHpZNEJjNnc%2Fview%3Fusp%3Dsharing&redir_token=tEHAb0zKFPesvwq9na6FFkYy84x8MTUxNjkwNTYzN0AxNTE2ODE5MjM3&v=vVOyWQZ25M8&event=video_description

**BIBLIOTECA VARSPEEDSERVO:**

https://www.youtube.

[2018-01-24 18:45] TaynaM opened #25 "Visão computacional"
Estudar o modo de funcionamento da visão computacional e sua aplicação no projeto. Após isso, disponibilizar os materiais de apoio.

[2018-01-24 18:45] RenatoLAG commented on #22
SKETCH - 4 SERVOS:

[2018-01-24 18:45] #22 closed, assigned to RenatoLAG, Luis1404

[2018-01-24 19:23] RenatoLAG commented on #23
certo

[2018-01-24 19:23] TaynaM opened #26 "Programação da Raspberry"
Comunicar todo o processo da implementação da Raspberry no projeto incluindo os drivers instalados, a comunicação com o arduino e tudo o mais.

[2018-01-24 19:29] TaynaM opened #27 "Programação do Arduino"
Comunicar todo o processo da implementação do Arduino no projeto incluindo as bibliotecas instaladas e a evolução (se houver) da programação.

[2018-01-24 19:33] RenatoLAG commented on #25
**Raspbian Stretch: Install OpenCV 3 + Python on your Raspberry Pi**

https://www.pyimagesearch.com/2017/09/04/raspbian-stretch-install-opencv-3-python-on-your-raspberry-pi/

https://www.youtube.com/watch?v=j6RD3X94rEA&feature=youtu.be

[2018-01-24 19:35] RenatoLAG commented on #26
**RASPBERRY PI - INSTALANDO O RASPBIAN | Vídeo Aula #51**

https://www.youtube.com/watch?v=mEx4XEuYgYs&t=725s

**RASPBERRY PI - USANDO AS GPIOs | Vídeo Aula #61**

https://www.youtube.com/watch?v=GKK1B8gKU_E

[2018-01-24 19:37] RenatoLAG commented on #26
**SISTEMA OPERACIONAL**

DEBIAN STRETCH WITH RASPBERRY PI DESKTOP

http://downloads.raspberrypi.org/rpd_x86/images/rpd_x86-2017-12-01/2017-11-16-rpd-x86-stretch.iso

[2018-01-24 19:52] RenatoLAG commented on #26
**Raspberry Pi - How to SSH - Remote view your Pi...**

https://www.youtube.com/watch?v=ZkvHHkWmKSY

[2018-01-24 19:53] RenatoLAG commented on #26
**Download PuTTY**
PuTTY is an SSH and telnet client, developed originally by Simon Tatham for the Windows platform. PuTTY is open source software that is available with source code and is developed and supported by a group of volunteers.

https://www.putty.org/

[2018-01-25 01:05] vrlimaa commented on #20
Boa noite a todos, hoje pela tarde estive em contato com o professor, onde o mesmo muito solicito nos disponibilizou novos materiais e até mesmo ideias, para a confecção da esteira, portanto, houve alteração, claro que no sentido de melhoramento para o protótipo final da esteira, desta vez ela será produzida em uma base toda de alumínio, com rolamentos profissionais para um melhor atrito e um moto

[2018-01-25 01:06] vrlimaa commented on #20
![whatsapp image 2018-01-24 at 20 57 36 1](https://user-images.githubusercontent.com/35084102/35365307-44db20da-014a-11e8-8701-e8eaea807875.jpeg)
 Aqui é a lona, disponibilizada pelo professor, vale ressaltar que ela além de ser muito resistente, irá compreender uma aderência muito mais aceitável na esteira.

[2018-01-25 01:09] vrlimaa commented on #20
![whatsapp image 2018-01-24 at 20 57 36](https://user-images.githubusercontent.com/35084102/35365351-82fa9418-014a-11e8-9139-1dffa9aa4064.jpeg)

Esse é o motor, motor encontrado em vidro elétrico de automóvel, sendo assim tendo um torque muito mais interessante para o nosso interesse, assim ele irá suprir toda nossa necessidade para a questão da esteira. OBS: Motor 12 Volts.

[2018-01-25 01:15] vrlimaa commented on #20
![whatsapp image 2018-01-24 at 20 57 35](https://user-images.githubusercontent.com/35084102/35365470-278daa92-014b-11e8-94d8-956e7ec27998.jpeg)

A base de alumínio, parafusos, porcas e rolamentos (os que irão ser aderidos pela lona disponibilizado por ele) e esses nas caixas serão os internos que fiz a compra hoje a tarde mesmo, em uma loja de indicação do professor, a ROLAPEÇAS, loja de rolamento

[2018-01-25 01:19] vrlimaa commented on #20
NOTA 1: Fiz a compra de 4 rolamentos de 22mm de diametro que serão acoplados aos rolamento maiores, para que sejam introduzidos no motor e nos parafusos que darão a base da esteira.
NOTA 2: Chave combinada de 1/2 para enroscar/desenroscar as porcas.

OBS: As ferramentas restantes já detenho.
![whatsapp image 2018-01-24 at 20 57 35 1](https://user-images.githubusercontent.com/35084102/35365697-440f

[2018-01-25 01:24] vrlimaa commented on #20
A esteira será parafusada em uma estrutura de madeira, ideia que peguei de um modelo que o professor nos disponibilizou lá para visualização, ou seja amanhã irei comprar a placa de madeira compeçada para preparar essa essa estrutura e sendo assim iniciar o processo de montagem da mesma, por hora, está tudo dentro do planejado, houve o contra tempo por conta da alteração do modelo, porém acredito q

[2018-01-25 01:26] vrlimaa commented on #20
Por fim, agradeço ao professor @hyperiondeimos pela força, ajuda que ele nos deu hoje, fazendo total diferença na melhoria do projeto.

[2018-01-25 01:28] vrlimaa commented on #20
@TaynaM @Suzielen Está tudo ok e entendido? Pergunto por conta da questão do artigo!

[2018-01-25 01:29] vrlimaa commented on #24
Postei as atualizações referente a esteira e que pode servir de serventia, claro, para o artigo, qualquer dúvida, estou a disposição.

[2018-01-25 01:48] ghost commented on #24
Muito obrigada Vinícius. Toda e qualquer descrição do projeto será de grande ajuda para a produção do artigo.

[2018-01-25 19:17] RenatoLAG commented on #25
instalação do **openCV** está temporariamente parada, devido questões pessoais. retomarei a terceira tentativa de instalação no sábado ou domingo.

[2018-01-25 19:22] RenatoLAG commented on #25
na primeira tentativa de instalação do **openCV** na **Raspberry pi 3B** houve um travamento em 83% no processo de instalação. em seguida o professor sugeriu que a instalação fosse feita remotamente através do notebook por meio da conexão com a internet tanto no notebook quanto na Raspberry, utilizando o programa **Putty**, essa foo a segunda tentativa, onde ocorreu um erro na conexão com a intern

[2018-01-25 21:59] hyperiondeimos commented on #25
Senhores, segue um Script feito para automatizar o processo de instalação do OpenCV no Raspberry Pi 2 e 3. Sigam isso com cuidado e prestem atenção. Leiam os artigos e tutoriais passados com clareza que vai dar tudo certo.

![image](https://user-images.githubusercontent.com/6139272/35414630-601b0022-01f9-11e8-99f1-fbd9418580ef.png)

Os scripts estão na pasta de aula 07 no Dropbox!

Obs.: eu não pu

[2018-01-25 22:04] RenatoLAG commented on #25
Vamos testar professor.

[2018-01-26 02:53] vrlimaa commented on #20
Boa noite a todos do grupo, hoje conseguimos concluir a confecção da esteira conforme o idealizado, fui em um marceneiro e ele montou uma base para que eu pudesse montar a esteira nela, duas peças 20 x 70 cm, irei agora replicar os procedimentos de montagem e o material completo.

[2018-01-26 02:55] vrlimaa commented on #20
![Image](https://i.imgur.com/fPtmUWX.jpg)

[2018-01-26 02:56] vrlimaa commented on #20
![Image](https://i.imgur.com/Jrpnydy.jpg)

[2018-01-26 03:00] vrlimaa commented on #20
![Image](https://i.imgur.com/vJXxdfd.jpg)

[2018-01-26 03:02] vrlimaa commented on #20
![Image](https://i.imgur.com/bNP7sBb.jpg)

[2018-01-26 03:15] vrlimaa commented on #20
Bom, como se pode observar, temos as duas peças 20x70 centímetro que serviram de base, a peça vertical foi a sustenção do motor:

- Motor parafusado na parte traseira.
- Há um buraco vazado na peça vertical, para que o eixo do motor possa varar do outro lado da peça(parte frontal) e assim fazer o posicionamento da esteira ao seu lado.
- Rolamentos centralizados na mesma horizontalidade do eixo do

[2018-01-26 03:23] vrlimaa commented on #20
OBS:
- Temos também uma chapa de alumínio que serve de auxílio como sustentação para a lona da esteira.
- Para testes foi utilizado uma fonte 12 volts.
- O motor como já dito é de vidro elétrico de carro e tem polaridade, caso inverta a ligação do seu circuito, o sentido do giro do seu eixo também irá mudar de direção.
- A esteira já encontra-se na posse do Paulo.

[2018-01-26 03:32] vrlimaa commented on #20
Materiais utilizados:

- Motor 12v de vidro elétrico de carro.
- 4 rolamentos de 22 mm de diâmetro.
- 2 conectores de aço(onde foi introduzido os rolamentos)
- Uma lona.
- Uma chapa de alumínio.
- 2 peças de madeira.
- Uma rodinha de borracha.
- 2 parafusos de 10 cm (para encaixar os rolamentos)
- 6 porcas.
- 2 peças de madeira de 30 mm (pois o motor é um pouco pesado, a peça sendo grossa, tem uma

[2018-01-26 03:34] vrlimaa commented on #20
@Luis1404 qualquer coisa me contactar.

[2018-01-26 03:37] vrlimaa commented on #20
Gostaria de fazer upload de um vídeo do funcionamento da esteira, porém não achei onde tem essa opção, só achei a opção fazer upload para foto, sendo assim irei repassar a todos via WhatsApp, para que assim consigam ver o funcionamento prático da esteira.

[2018-01-26 03:41] vrlimaa commented on #11
Amanhã irei postar uma planilha atualizada com os valores dos materiais, ferramentas, custo e mão-de-obra da confecção da esteira.

[2018-01-26 13:24] RenatoLAG commented on #24
enviarei ainda hoje (se possivel) o procedimento para a preparação da Raspberry pi3B na utilização para este projeto.

[2018-01-26 13:28] RenatoLAG commented on #27
O Arduino receberá informação vinda da raspberry (via serial) e tratará essa informação, convertendo-a em um movimeto (prédefinido) no braço robótico.

[2018-01-26 13:32] RenatoLAG commented on #8
foi recebido uma valvula solenóide (não me recordo a quantidade de vias) e um atuador pneumático (cilindro de dupla ação)

.... encaminhado ao Luis Paulo.

[2018-01-26 13:42] RenatoLAG commented on #2
Eu, como professor, gostaria que todos os projetos tivessem significância para gerar boas publicações

O projeto proposto vem trazendo a utilização de técnicas de grande relevância, principalmente para área de pesquisa, com isso acredita-se que este projeto será de grande apreciação pela classe acadêmica, despertando o interesse de outras pessoas que buscam aprender mais sobre as tecnologias envol

[2018-01-26 14:27] TaynaM commented on #1
Professor, não faremos o uso de CLPs no projeto porque seria para o controle dos servos e, já que os mesmos são incompatíveis, optamos pela utilização do Arduino.

[2018-02-01 19:18] vrlimaa commented on #19
Os desenhos mecânicos já estão em finalização e logo mais serão postados logo mais.

[2018-02-01 19:35] Suzielen commented on #15
Braço robótico antes da montagem com os servos.
![99c931c86fb7b9db5c7f355440280bbc856ad364](https://user-images.githubusercontent.com/34658037/35699056-4761bc80-0765-11e8-80ae-4fdf9719e39e.jpg)

[2018-02-01 19:46] ghost commented on #24
A colaboração para o desenvolvimento do artigo, está sendo realizada de forma presencial ou online.

[2018-02-02 03:32] vrlimaa commented on #18
![Image](https://i.imgur.com/s0kyXxo.jpg)

Aviso geral! Alteração no projeto final idealizado.

Observações gerais:
1. Foi descartado a utilização da câmera como visão computacional.
2. Agora utilizaremos o artifício do sensor óptico.
3. Implementaremos o CLP no atuador.
4. De formar geral o projeto terá os mesmos moldes de eficiência para antiga idealização.
5. Croqui oriunda da ideia proposta pe

[2018-02-02 03:36] vrlimaa commented on #11
Com a alteração do projeto final, acarretou em algumas mudanças significativas no para o custo total final, sendo assim, irão ser feitos novos levantamentos, levando em conta tudo aquilo que não será alterado no novo projeto. Porém, logo, iremos utilizar um tempo maior para finalizar o restante do orçamento.

[2018-02-02 13:46] TaynaM opened #28 "Estudo de CLP"
Estudar o emprego do clp no projeto.

[2018-02-02 13:55] TaynaM opened #29 "Tipo de CLP"
Definir o tipo ideal do clp que será utilizado no projeto.

[2018-02-02 14:02] TaynaM opened #30 "Uso do CLP"
Estudar o funcionamento do clp e a sua integração as demais tecnologias que serão utilizadas.

[2018-02-02 14:07] TaynaM opened #31 "Programação do CLP"
Realizar e disponibilizar a evolução (se houver) da programação do clp.

[2018-02-02 14:07] TaynaM opened #32 "Definição do projeto"
Definir o projeto e suas possíveis aplicações na indústria.

[2018-02-02 14:10] TaynaM opened #33 "Melhorias no projeto"
Verificar opções de melhoria para o projeto escolhido.

[2018-02-02 14:18] TaynaM commented on #26
Como não vamos mais utilizar a Raspberry no projeto, a tarefa será congelada.

[2018-02-02 14:20] TaynaM commented on #25
Como não vamos mais utilizar a visão computacional no projeto, a tarefa será congelada.

[2018-02-02 14:27] TaynaM opened #34 "Orçamento e custo finais"
Disponibilizar todos os gastos com os materiais necessários para o projeto dizendo o local da compra e a quantidade adquirida.

[2018-02-02 14:30] TaynaM opened #35 "Montagem do braço robótico"
Realizar a montagem do braço robótico e, em seguida, disponibilizar imagens do mesmo.

[2018-02-02 14:31] TaynaM opened #36 "Estrutura física do projeto"
Definir a estrutura física do projeto com todos os seus detalhes.

[2018-02-02 14:33] TaynaM opened #37 "Emprego do Arduino"
Definir a importância da utilização do Arduino no projeto.

[2018-02-02 14:38] Suzielen commented on #35
Montagem do braço robótico concluída!

![figura 17](https://user-images.githubusercontent.com/34658037/35738310-de7c57fc-0804-11e8-9da7-f2d1271013c2.PNG)
![figura 18](https://user-images.githubusercontent.com/34658037/35738326-e68c2ecc-0804-11e8-913d-71575806b68e.PNG)

[2018-02-02 14:39] TaynaM commented on #20
A esteira que será utilizada não será mais essa devido as mudanças físicas na estrutura do projeto. A nova esteira foi disponibilizada pela instituição.

[2018-02-02 14:44] TaynaM opened #38 "Divisão das tarefas"
Realizar a atribuição das tarefas aos membros do grupo.

[2018-02-02 14:45] TaynaM opened #39 "Tecnologias do projeto"
Definir as tecnologias que serão utilizadas no projeto.

[2018-02-02 15:05] TaynaM opened #40 "Prazo para a entrega"
Para cumprir o prazo da entrega do projeto será necessário a presença de todos nas reuniões que inicialmente serão realizadas diariamente após o horário das aulas. Se caso houver imprevistos, avisem com antecedência.

[2018-02-02 15:06] TaynaM commented on #23
Será necessário o empenho de todos nas execuções das tarefas para que o projeto fique pronto no prazo estabelecido.

[2018-02-02 15:09] TaynaM opened #41 "Seleção do cilindro"
Pesquisar o tipo de cilindro de acordo com as características de uso no projeto.

[2018-02-02 15:11] TaynaM opened #42 "Função do cilindro"
Definir a importância do uso do cilindro no projeto.

[2018-02-02 15:20] vrlimaa commented on #20
Por toda via, todas as etapas de montagem serão disponibilizadas, projeção mecânica, elétrica, desenhos procedemos, posteriormente, como se a mesma tivesse sido confeccionada por nós.

[2018-02-03 13:37] RenatoLAG commented on #41
o cilindro utilizado foi um de **dupla ação**

[2018-02-03 13:40] RenatoLAG commented on #31
A programação assim como as instruções utilizadas no clp podem ser facilmente explanada pelo nosso amigo Luís Paulo

[2018-02-04 04:22] RenatoLAG commented on #42
O atuador pneumático (Cilindro de Dupla ação) para este projeto terá a função de: após a contagem de 3 peças, este atuará retirando a terceira peça da esteira.

[2018-02-04 04:26] RenatoLAG commented on #42
Este atuador pneumático se torna indispensável para este projeto, tendo em vista que ele é uma das peças fundamentais do requisito mínimo solicitado pelo professor, para a realizaçao deste projeto.

[2018-02-04 04:30] RenatoLAG commented on #39
- CLP.

- Plataforma de desenvolvimento Arduino.

- Pneumática.

[2018-02-04 04:33] RenatoLAG commented on #37
A plataforma de desenvolvimento Arduino teve grande importância no que diz respeito à programação dos movimentos do **braço robótico** e também servindo como ponte recptora de sinais de controle provindas do CLP utilizado neste projeto.

[2018-02-04 04:35] RenatoLAG commented on #31
A linguagem escolhida para a programação do CLP foi a **Ladder**

[2018-02-04 04:36] RenatoLAG commented on #29
O CLP utilizado neste projeto possue saidas a relé.

[2018-02-04 04:45] ghost commented on #1
Houve mudanças em algumas partes do projeto, e a partir disso foi necessário o uso do CLP.

[2018-02-04 14:05] Suzielen commented on #36
O projeto ira´ dispor de uma esteira com seu funcionamento por um motor DC de 12v, um atuador pneumático , mangueiras pu 6mm, válvulas, sensor óptico pnp, CPL, Arduíno para controle do braço robótico, braço robótico em mdf, servo motores, chaves do tipo push botton para acionamento do sistema e protoboard.

[2018-02-04 14:18] Suzielen commented on #36
Disponibilizarei aqui imagens da estrutura física do projeto bem como alguns dos materiais usados:

![wp_20180204_002](https://user-images.githubusercontent.com/34658037/35778440-9e337040-0994-11e8-99f1-b2b81668ebdf.jpg)
![wp_20180201_002](https://user-images.githubusercontent.com/34658037/35778363-80fb9b7a-0993-11e8-9620-1de6ada3d951.jpg)
![wp_20180202_001](https://user-images.githubusercontent.c

[2018-02-04 14:35] Suzielen commented on #33
Implementar visão computacional para seleção de peças por cor ou matéria prima, seria uma das opções de melhoria para este projeto.

[2018-02-04 14:52] Suzielen commented on #32
O projeto consiste em um braço robótico controlado por Arduíno e CLP para controle de um processo. No caso do braço que possui o controle feito pela plataforma Arduíno,  será acionado para pegar a segunda peça que passar pela esteira, a terceira peça será expulsa pelo atuador e a primeira peça passará direto para um marfinite. O controle do atuador e da esteira serão feitos pelo CLP.

[2018-02-04 14:55] ghost commented on #3
Foram necessários 32 dias para a conclusão do projeto. Pois houve mudanças significativas em algumas partes e foram necessários acrescentar mais dois dias para que o objetivo fosse alcançado.

[2018-02-04 14:55] Suzielen commented on #30
O uso do CLP neste projeto foi definido para melhor controle da esteira e do atuador.

[2018-02-04 15:09] TaynaM opened #43 "Vídeo e foto finais"
Postar a foto e o vídeo de simulação realizados no dia da entrega do projeto.

[2018-02-04 15:09] ghost commented on #5
O uso de visão computacional no projeto é onde ocorreu a **mudança tecnológica** da proposta inicial. Com isso, ela foi **substituída para o uso do CLP**.

[2018-02-04 15:23] TaynaM commented on #33
Além disso, seria bom se tempo de atuação do sistema fosse diminuído para que mais peças pudessem ser colocadas na esteira e, assim, realizar vários ciclos ininterruptos.

[2018-02-04 15:26] ghost commented on #6
![imagem 1](https://user-images.githubusercontent.com/34712301/35779087-6e4801a4-09a6-11e8-8688-a47b33a86b68.jpeg)

Inicio da montagem do projeto

[2018-02-04 15:28] ghost commented on #6
![imagem 2](https://user-images.githubusercontent.com/34712301/35779113-a8e45984-09a6-11e8-88e7-b52a37962f36.jpeg)

Iniciando as ligações.

[2018-02-04 15:28] Luis1404 commented on #35
Feito a programação para controle do Braço Robótico.

[2018-02-04 15:29] TaynaM commented on #16
Como não fizemos mais o uso da visão computacional e nem da Raspberry no projeto final, os vídeos ficaram sem utilidade. Portanto, a tarefa será congelada.

[2018-02-04 15:29] ghost commented on #6
![imagem 4](https://user-images.githubusercontent.com/34712301/35779137-fdd9ccd0-09a6-11e8-8be4-146466b0bcea.jpeg)

Finalizando.

[2018-02-04 15:35] Luis1404 commented on #27
Para controle dos movimentos dos braços com os servos, foi feito o uso da biblioteca _servo.h_.

[2018-02-04 15:36] Luis1404 commented on #27
Segue o Código da Programação feita pelo Arduíno:
[Programaçao Braço Robótico.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1692951/Programacao.Braco.Robotico.pdf)

[2018-02-04 15:40] ghost commented on #10
No projeto proposto não houve esse desenvolvimento.

[2018-02-04 15:44] Luis1404 commented on #31
Segue em anexo a programação Ladder, bem como a explicação do programa.

[Programa Ladder.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1692957/Programa.Ladder.pdf)

[2018-02-04 15:47] Luis1404 commented on #19
Desenho mecânico em anexo.
[DOC_1.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1692965/DOC_1.pdf)
[DOC_2.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1692966/DOC_2.pdf)
[DOC_3.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1692967/DOC_3.pdf)

[2018-02-04 15:54] TaynaM opened #44 "Circuitos pneumáticos"
Disponibilizar os esquemas pneumáticos do projeto.

[2018-02-04 16:05] Luis1404 commented on #44
Segue em anexo o circuito eletropneumático:
[Circuito eletropneumático.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1693002/Circuito.eletropneumatico.pdf)

[2018-02-04 16:09] vrlimaa commented on #43
![imagem 1 braco](https://user-images.githubusercontent.com/35084102/35779484-83ff1efa-09ac-11e8-8431-eff61d8227ae.jpeg)

Braço Robótico utilizado no projeto!

[2018-02-04 16:10] vrlimaa commented on #43
![imagem comando pneumatico](https://user-images.githubusercontent.com/35084102/35779495-b4d92a70-09ac-11e8-8c35-0937d314965b.jpeg)

[2018-02-04 16:13] vrlimaa commented on #43
![imagem prototipo 1](https://user-images.githubusercontent.com/35084102/35779502-d4fcfd04-09ac-11e8-9b31-a911dd5422d3.jpeg)

![imagem prototipo 3](https://user-images.githubusercontent.com/35084102/35779507-e5354280-09ac-11e8-9c2b-0d18947364fc.jpeg)

![imagem prototipo 2](https://user-images.githubusercontent.com/35084102/35779506-dd66026a-09ac-11e8-997c-bc30502f5d73.jpeg)

Teste de funcionamento

[2018-02-04 16:15] vrlimaa commented on #43
![imagem teste1](https://user-images.githubusercontent.com/35084102/35779535-3fcd3d1a-09ad-11e8-82c6-0475b466b704.jpeg)

Teste de funcionamento do braço robótico.

[2018-02-04 16:17] Suzielen commented on #11
A planilha com os valores atualizados serão postados no Épico _Orçamento e custos finais_ .

[2018-02-04 16:41] vrlimaa commented on #43
[Vídeo do protótipo em funcionamento ](https://www.dropbox.com/s/tle6bzaik0xq80i/V%C3%ADdeo%201.mp4?dl=0)

[2018-02-04 16:48] vrlimaa commented on #43
![imagem equipe](https://user-images.githubusercontent.com/35084102/35779812-f7862c7e-09b1-11e8-9450-cf4c34be6aaf.jpeg)

 Equipe (esquerda para direita): @RenatoLAG , @Luis1404, @TaynaM, @Rayara, @vrlimaa, @Suzielen.

[2018-02-04 16:49] RenatoLAG commented on #28
Aqui está compactado de forma geral um estudo sobre CLP.

[ESTUDO GENERALISTA SOBRE CLP.docx](https://github.com/RenatoLAG/Braco-robotico/files/1693037/ESTUDO.GENERALISTA.SOBRE.CLP.docx)

[2018-02-04 16:56] vrlimaa commented on #43
AQUI ESTÁ TODOS OS COMPONENTES ESSENCIAIS PARA A CONFECÇÃO DO PROJETO!

![whatsapp image 2018-02-04 at 12 50 31](https://user-images.githubusercontent.com/35084102/35779893-b4bffc82-09aa-11e8-9aa0-d09ec11ec1b9.jpeg)
![whatsapp image 2018-02-04 at 12 50 32 1](https://user-images.githubusercontent.com/35084102/35779894-b4e42ba2-09aa-11e8-9bc3-a679677bca1d.jpeg)
![whatsapp image 2018-02-04 at 12 50 3

[2018-02-04 17:05] Suzielen commented on #34
Segue a planilha atualizada com custos do Projeto.
[Orcamento Final.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1693059/Orcamento.Final.pdf)
[Orcamento Final.xlsx](https://github.com/RenatoLAG/Braco-robotico/files/1693060/Orcamento.Final.xlsx)

[2018-02-04 17:27] vrlimaa commented on #20
![whatsapp image 2018-02-04 at 12 50 33](https://user-images.githubusercontent.com/35084102/35780264-2ec6e78a-09af-11e8-95c2-b0f9ead8a157.jpeg)

[2018-02-04 17:28] vrlimaa commented on #20
DESENHOS MECÂNICOS:

![whatsapp image 2018-02-04 at 13 07 43](https://user-images.githubusercontent.com/35084102/35780270-3b46273c-09af-11e8-8a5d-34d6821f40b9.jpeg)
![whatsapp image 2018-02-04 at 13 07 44 1](https://user-images.githubusercontent.com/35084102/35780271-3b6a2164-09af-11e8-8877-adaac1d1114b.jpeg)
![whatsapp image 2018-02-04 at 13 07 44](https://user-images.githubusercontent.com/350841

[2018-02-04 17:32] vrlimaa commented on #20
Materiais Utilizados no protótipo e quantidade:

 BASE - 01
 MANCAL - 02
 MANCAL MOTOR CORREIA - 01
 MANCAL MOTOR - 01
 Rolling bearing GB/T 5800-2003-626 - 04
 ROLETE - 01
 ROLETE MOTOR - 01
 ESTEIRA BORRACHA - 01
 ROLDANA - 02

[2018-02-04 17:47] Luis1404 commented on #29
Clp utilizado no projeto **Mitsubishi FX 2N
100-240AC 50/60HZ
OUT: 30VDC/240 2A(COS = 1)**
**16 INPUTS, 16 OUTPUTS.**
Segue em anexo materiais de apoio:
[FX2n.pdf](https://github.com/RenatoLAG/Braco-robotico/files/1693098/FX2n.pdf)

[2018-02-04 19:46] vrlimaa commented on #41
![Image](https://i.imgur.com/ncbZNqs.jpg)

Cilindro pneumático - festo

[2018-02-04 19:47] vrlimaa commented on #29
![Image](https://i.imgur.com/mIsGcAg.jpg)

[2018-02-04 20:52] TaynaM opened #45 "Criar um READ.md do projeto"
Criar um README.md para o projeto que contenha as seguintes informações: Título, descrição do projeto, Links do wiki para as explicações em geral, referências, informações se caso houver bugs ou fazer sugestões, como enviar pull requests e autores.

[2018-02-04 22:00] TaynaM commented on #45
Está na parte do Code com o nome de Braço-robótico.

[2018-02-05 20:50] #20 closed, assigned to vrlimaa

[2018-02-05 20:51] hyperiondeimos commented on #45
Esse item não foi fechado

[2018-02-05 20:51] #35 closed, assigned to Suzielen, Luis1404

[2018-02-05 20:51] #33 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:52] hyperiondeimos commented on #44
ok

[2018-02-05 20:52] #44 closed, assigned to Luis1404

[2018-02-05 20:53] hyperiondeimos commented on #43
Bom terem utilizado um CLP, isso deu uma nota a mais para vocês.

[2018-02-05 20:53] #43 closed, assigned to vrlimaa

[2018-02-05 20:53] #32 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:53] #30 closed, assigned to RenatoLAG, vrlimaa

[2018-02-05 20:54] #34 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:54] #41 closed, assigned to RenatoLAG, Luis1404

[2018-02-05 20:55] #29 closed, assigned to RenatoLAG, vrlimaa

[2018-02-05 20:55] #36 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:55] #37 closed, assigned to RenatoLAG, Luis1404

[2018-02-05 20:55] #39 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:55] #42 closed, assigned to RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:55] #11 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:56] #15 closed, assigned to Suzielen, TaynaM, RenatoLAG, Luis1404, vrlimaa

[2018-02-05 20:56] #12 closed, assigned to Suzielen, TaynaM

[2018-02-05 20:56] #31 closed, assigned to RenatoLAG, vrlimaa

[2018-02-05 20:56] #19 closed, assigned to Luis1404

[2018-02-05 20:56] #27 closed, assigned to Luis1404

[2018-02-05 20:56] hyperiondeimos commented on #27
colocar o código fonte na aba de CODE

[2018-02-05 20:56] #28 closed, assigned to RenatoLAG